title {
  font-family: 'Montserrat';
}

.AddPutContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid black;
  row-gap: 12px;
}

.label {
  font-size: 19px;
  font-family: 'Montserrat';
}

.input {
  height: 25px;
}

.btn {
  height: 50px;
  background: black;
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  border-radius: 30px;
  transition:
    ease color,
    background 0.8s;
}

.btn:hover {
  background: white;
  color: black;
}

.ContactList {
  padding: 10px;
}

.ContactListTitle {
  font-family: 'Montserrat';
  padding: 0;
}

.ContactListUl {
  display: flex;
}

.contactItem {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background: #9b682a;
  background: linear-gradient(
    90deg,
    rgba(155, 104, 42, 1) 0%,
    rgba(196, 43, 43, 1) 51%,
    rgba(217, 198, 26, 1) 100%
  );
  width: 700px;
  padding: 15px;
  border-radius: 20px;
  height: 160px;
}

.contactTitle {
    font-family: 'Montserrat';
    color: white;
    font-style: italic;
}

.contactPhone {
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.contactEmail {
    font-family: 'Montserrat';
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnAdd {
    width: 200px;
    height: 50px;
    font-size: 23px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
    border-radius: 15px;
}