title {
  font-family: 'Montserrat';
}

.AddPutContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 91%;
  height: 350px;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid black;
  row-gap: 12px;
}

.label {
  font-size: 19px;
  font-family: 'Montserrat';
}

.input {
  height: 25px;
}

.btn {
  height: 50px;
  background: black;
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  border-radius: 30px;
  transition:
    ease color,
    background 0.8s;
}

.btn:hover {
  background: white;
  color: black;
}

.ContactList {
  padding: 10px;
}

.ContactListTitle {
  font-family: 'Montserrat';
  padding: 0;
}

.ContactListUl {
  display: flex;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9b682a;
  width: 700px;
  padding: 15px;
  border-radius: 20px;
  height: 200px;
}

.BtnEdit {
  width: 100px;
  height: 50px;
  font-size: 23px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: none;
}

.btnDelete {
  width: 100px;
  height: 50px;
  font-size: 23px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: none;
  background: red;
}

.contactTitle {
  font-family: 'Montserrat';
  color: white;
  font-style: italic;
}

.contactPhone {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.contactEmail {
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
}

.contactInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnAdd {
  width: 200px;
  height: 50px;
  font-size: 23px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  border-radius: 15px;
}

.btnSelect {
  width: 200px;
  height: 50px;
  font-size: 23px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: none;
}

.navItem {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat';
}

.navItem.openNav {
  font-size: 24px;
}

.loginNav {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.loginNav.openNav {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.burgerBtn {
  background: transparent;
  border: none;
  position: relative;
  z-index: 1001;
}

.mobileBurger {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 100vw;
  height: 100vh;

  background: white;

  display: flex;
  flex-direction: column;
  padding: 25px;

  transform: translateX(-100%);
  opacity: 0;

  transition:
    transform 0.4s ease,
    opacity 0.4s ease;

  z-index: 1000;
}

.mobileBurger.open {
  transform: translateX(0);
  opacity: 1;
}

.btnBurgerClose {
  border: none;
  background: transparent;
  padding-left: 15px;
  width: 70px;
}

.mobileBurgerList {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media (min-width:768px) {
    .mobileBurger {
        display: none;
    }
    .burgerBtn {
        display: none;
    }

    .form {
      width: 500px;
    }
}
