.title {
    font-family: 'Montserrat';
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 230px;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid black;
    row-gap: 12px;
}

.label {
    font-size: 19px;
    font-family: 'Montserrat';
}

.input {
    height: 25px;
}

.btn {
    height: 50px;
    background: black;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    border-radius: 30px;
    transition: ease color, background .8s ;
}

.btn:hover {
    background: white;
    color: black;
}

.loginBtn {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    font-size: 20px;
    font-family: 'Montserrat';
    animation: opacity .7s ease alternate;
    border-radius: 10px;
}

.li {
    animation: opacity 1s ease alternate;
}

.loginBtnImg {
    width: 34px;
    height: 34px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}