.nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
    padding: 10px;
}

.basicNav {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.navItem {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
}

.loginNav {
    display: flex; 
    column-gap: 20px;
    align-items: center;
}